<?xml version="1.0" encoding="UTF-8" ?> 
    <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cft.commons.pms.dao.api.ApiDAO">
  <insert id="savePostMessage">
      <![CDATA[
        insert into app_postmessage(content,servertime,dateline)
        values (#{content},#{servertime},#{dateline})
      ]]>
  </insert> 
</mapper> 